* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
  font-family: Poppins, sans-serif;
  color: #000;
}


body{
    background-image: url("../img/login-bg.jpg");
  background-size: cover;
  background-position: center;
}

.logo-div{
  margin-top: 20px;
}
.login-div {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.content {
    width: 500px;
    background: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(13px);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgb(133 133 133 / 47%);
    padding: 30px 35px;
}


@media (max-width: 600px) {

.content {
    width: 340px;

  }

.logo-div{
  margin-top: 80px;
}

}
.content h2 {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}
.content .input-box {
  position: relative;
  width: 100%;
  height: 55px;
  margin: 30px 0;
}
.content .input-box input {
    background: #fff;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(152 152 152 / 16%);
    border-radius: 7px;
    padding: 14px 38px 14px 15px;
    font-size: 16px;
}
input::placeholder {
  color: #000;
  font-size: 16px;
}
.input-box i {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #000;
}
.content .remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -16px 0 16px;
}
.remember label input {
  accent-color: #fff;
  margin-right: 4px;
}
.remember a {
  color: #fff;
  text-decoration: none;
}
.remember a:hover {
  text-decoration: underline;
}
.btnn {
  display: inline-block;
  background: #fff;
  color: #0a2862;
  width: 100%;
  border-radius: 30px;
  font-size: 16px;
  height: 45px;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 16px;
}
.button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
.button a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.button a i {
  font-size: 20px;
  margin-right: 8px;
}
.button a:hover {
  opacity: 0.8;
}
input[type="checkbox"] {
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-credentials-auto-fill-button,
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-contacts-auto-fill-button {
  display: none !important;
  visibility: hidden !important;
  pointer-events: none;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}


.close-bt{
  all: unset;
    cursor: pointer;
    float: right;
    font-size: 20px;
    font-weight: 600;
    color: white;
}



